@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    height: 100vh;
}

html, body{
    background-color: black;
}

*::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.5rem;
}


*::-webkit-scrollbar-track {
    background-color: rgb(236, 236, 236);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(73, 71, 71);
    border-radius: 5rem;
}

.background-blur{
    background-image: url("./assets/gen.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
}

.wrapper-blur{
    background-color: rgba(30, 30, 30, 0.87);
    backdrop-filter: blur(10px);
}